*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1{
  text-align: center;
}
.giorni-mese{
  list-style-type: none;
}
.flex-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.holidays{
  color: red;
}
